<div class="row" style="margin: 15px 0;">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<h6><%= @today.strftime('%m月%d日') %></h6>
		<table class='table'>
			<thead>
				<tr>
					<th>項目</th>
					<th>金額</th>
					<th>詳細</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @book.name %></td>
					<td><%= @book.money.to_s(:delimited) %></td>
					<td><%= @book.comment %>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th><%= link_to 'EDIT', edit_book_path(@book), class: 'btn btn-primary btn-xs' %></th>
					<th><%= link_to 'DELETE', book_path(@book), method: :delete, 'data-confirm' => '本当に削除しますか?', class: 'btn btn-danger btn-xs' %></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>